body{
	    background-color:black;
    }
code{
		padding: 3px 5px; 
		font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, monospace, sans-serif; 
		font-size: 15px; 
		white-space: pre-wrap;
		line-height:16px;
		display:inline-block;
		color:red;
		border: 1px #00ff00;
		border-style:dashed double;
    }
c1{
	border:1px #00ff00;
	border-style: dashed ridge;
	color:red;
  }
 pre{
	    font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, monospace, sans-serif; 
		font-size: 15px; 
		white-space: post-wrap;
		color:white;
		
    }